/**
*	Name 	: FEEDCAT
**/

/**

Table of content  

01.body
02.header part with navigation
03.homepage
04.Registration & login start
05.Aboutus
06.Footer

**/


/*****************  01.Body Start    *********************/
body ,label, a,h1,h2,h3,h4,h5,h6{
	color: #51568e;
	font-family: 'Open Sans';
}
/*****************  Body End    *********************/



/*****************  02.HEADER START   Done *********************/

.rsscatelog {
	padding-top: 8px;
}

.menu-icon {
	background-color: #51568e;
}

header ul.top-nav li a {
	color: #abb0cd ;
	font-size: 12px;
}

header ul.top-nav li:last-child a{
	color: #53568d;
	padding-left: 55px;
}
/*****************  HEADER  END   *********************/



/*****************  03.HOME  START   *********************/
.feedcat-img-title {
	font-size: 28px;
	padding-bottom: 10px;
}
.feedcat-details , .feedcat-details ul{
	font-size: 20px;
	padding-top: 35px;
}
.margin-padding {
	margin: 20px 10px;
	padding: 20px 10px;
	font-size: 18px;
}

.feedcat-img {
	-webkit-box-shadow: 0px 0px 34px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 34px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 34px -1px rgba(0,0,0,0.75);
}
.twitter-box{
	background-color: #f5f5f5;
	padding: 15px;
	border : 1px solid #e8e8e8;
	border-radius: 3px;
	color: black;
	max-width:500px;
	margin:0px auto;
}

.twitter-box h5 {
	color: #7d837b;
}
.twitter-box input {
	border:1px solid #7d837b;
	background-color: white;
	width: 55%;
	display: inline;
}

.twitter-box button {
-webkit-box-shadow: 2px 2px 1px 0px rgba(125,131,123,1);
-moz-box-shadow: 2px 2px 1px 0px rgba(125,131,123,1);
box-shadow: 2px 2px 1px 0px rgba(125,131,123,1);
padding:5px;
}





/*****************  HOME  END   *********************/


/*************  04.registration & login start *************/
form label{
	font-size: 15px;
}
.form button{
	color: #fff !important;
	background-color:#53568d !important;
	margin-top: 20px;
	padding: 10px 30px;
}
.registration .registration-notification{
	margin-bottom: 30px;
}
.registration h3 a{	
	text-decoration: underline;
}
input {
	background-color: #f1f1f1 !important;
}
label[for="checkbox1"] {
   display: inline;
}

/*************  registration & login end*************/


/*************  05.About us Start*************/
.aboutus div {
	margin-top: 35px;
	padding-bottom: 20px;
	font-size: 20px;
}


/*************  About us End *************/


/******* 06.Footer Done********/

footer .social-icons{
	text-align: center;
	position: relative;
	top: 15px;
}
footer .social-icons a{
	margin: 5px;
}

footer .bottom{
	background-image: url('../img/bottom.jpg');
	padding: 20px 10px 10px 10px;
	text-align: center;
	color: #aaafcc;
}

footer .bottom a{
	color: #fff;
	text-decoration: none;
}

/******* Footer ********/